*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #002752;
}

.text-coins {
    color: #fff;
    font-weight: bold;
    padding-right: 1rem;
}

/*.text-coins  .coin-amount {*/
/*    color: gold;*/
/*}*/

.coin-amount {
    color: gold;
}

.bg-dark-blue {
    background-color: rgba(0, 14, 47, 0.99);
}

.error-text {
    top: 25%;
    left: 15%;
    text-shadow: 0px 5px 15px #000000;
    position: absolute;
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
}

