*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.chatbox{
    background: #004085;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 3rem;
    max-height: 500px;
    min-width: 300px;
    max-width: 700px;
    border: 10px solid rgba(0, 15, 71, 0.992);
    border-radius: 5px;

    position: relative;
}

.chatbox:after {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    background: #e3e3e3;
    z-index: -1;

    border-radius: 5px;
    box-shadow: 0px 0px 40px 5px #014793;
}



.msg-list{
    flex: auto;
    max-height: 430px;
    min-height: 300px;
    height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}



.msg-row{

    align-items: center;
    margin: 40px;
    width: fit-content;
    max-width:80%;
}

.msg-text{
    background: #9fcdff;
    padding: 20px 40px;
    border-radius: 8px;
    font-weight: 300;
}

.remove-btn {
    background-color: rgb(249, 54, 54);
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #000000;
}

.remove-btn:hover {
    cursor: pointer;
    background-color: red;
    box-shadow: 0px 0px 10px red;
}

.msg-text h2{
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 10px;
}

.msg-text p{
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
}

.bottom-section input{
    border: 0;
    outline: none;
    padding: 15px 40px;
    background: rgba(0, 15, 71, 0.992);
    color: #ffffff;
    width: 100%;
    font-size: 16px;
    font-weight: 300;

}

::placeholder{
    color: #ffffff82;
}

body{
    background: #002752;
}