*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #002752;
}

.create-container {
    width: 400px;
    min-height: 350px;
    background: rgba(0, 15, 71, 0.992);
    color: #fff;
    margin: auto;
    margin-top: 9rem;
    border: 2px solid #e3e3e3;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 40px 30px;
    box-shadow: 0px 0px 40px 5px #014793;
}

.create-container form {
    margin: 0;
}

.error-alert {
    color: #8c0000;
    background-color: #fff3cd;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}

h1 {
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    font-size: 30px;
}

h1 span {
    color: gold;
}

h2 {
    margin: 0;
    padding: 0 0 15px;
    text-align: center;
    font-size: 20px;
    color: red;
}

.create-container .error-msg {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 15px;
    color: red;
}

.create-container p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.create-container input {
    width: 100%;
    margin-bottom: 20px;
}

.create-container .card-name {
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    border: 3px solid #f4cf00;
    text-align: center;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
}

.create-container .card-name:hover {
    background-color: #fafa80;
}

.create-container .submit-btn {
    outline: none;
    text-align: center;
    height: 40px;
    background: #f4cf00;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0;
    border-radius: 15px;
    border: 3px solid #fff;
}

.create-container .submit-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}