<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--<head th:replace="~{fragments/head::head}"></head>-->

<head>
    <meta charset="UTF-8">
    <title>Summoners</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/faviconS.ico}">
<!--    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/all.css}"/>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">-->
    <link rel="stylesheet" th:href="@{/css/create-style.css}"/>
</head>

<body>

<div>
    <nav class="navbar navbar-expand-lg bg-dark-blue navbar-dark fixed-top">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/main-page}">Home</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin-page}">Admins</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/board/posts}">Message Board</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/summons/creation}">Creation</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/trading-post/offers/trade}">Trade</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/trading-post/offers/sell}">Buy/Sell</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/my-offers}">My Offers</a>
                </li>

                <!-- Logout start -->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div class="form-inline my-2 my-lg-0 px-3">
                        <div class="text-coins">Coins: <span class="coin-amount" th:text=" ${coins}"></span></div>
                        <div class="text-white" sec:authentication="name"></div>
                        <form
                                th:method="post"
                                th:action="@{/users/logout}">
                            <input class="btn btn-link nav-link" type="submit" value="Logout">
                        </form>
                    </div>
                </li>
                <!-- EO: Logout start -->

                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/register}">Register</a>
                </li>

                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/login}">Login</a>
                </li>

            </ul>
        </div>
    </nav>
</div>


<div class="create-container">
  <div class="error-alert" th:if="${notEnoughCoinsMsg}" th:text="${notEnoughCoinsMsg}"></div>
  <h1>Spend <span>25</span> coins to summon a magic card!</h1>
  <form th:method="POST"
        th:action="@{/summons/creation}" th:object="${summonCreationDTO}">
      <h2 th:if="${nameLengthMsg}" th:text="${nameLengthMsg}"></h2>
    <input class="card-name" type="text" name="name" th:field="*{name}" placeholder="Name your card">

    <input class="submit-btn" type="submit" name="submit" value="Summon!">
  </form>
</div>

</body>

</html>