<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>


<body>

<div th:replace="~{fragments/navbar :: navbar}">
  Navbar
</div>

<div class="container">
  <h2 class="text-center text-white">Create</h2>
  <form
        th:method="POST"
        th:action="@{/summons/creation}"
        class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">


  <div class="row">
    <div class="form-group col-md-6 mb-3">
      <label for="name" class="text-white font-weight-bold">Name</label>
      <input id="name"
             name="name"
             type="text" min="2" max="20" class="form-control"
             placeholder="Name"/>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6 mb-3">
      <label for="hp" class="text-white font-weight-bold">Health Points</label>
      <input id="hp"
             name="hp"
             type="number" min="2" max="20" class="form-control"
             placeholder="Health Points"/>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6 mb-3">
      <label for="atk" class="text-white font-weight-bold">Attack</label>
      <input
              id="atk"
              name="atk"
              type="number"
              class="form-control"
              placeholder="Attack"/>
    </div>
  </div>


  <div class="row">
    <div class="col col-md-4">
      <div class="button-holder d-flex">
        <input type="submit" class="btn btn-info btn-lg" value="Create"/>
      </div>
    </div>
  </div>
</form>
</div>

<div>
<footer> </footer>
</div>

</body>
</html>
