<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Summoners</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/faviconS.ico}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/css/home-style.css}"/>
</head>

<body>

<div>
    <nav class="navbar navbar-expand-lg bg-dark-blue navbar-dark fixed-top">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/roster}">Roster</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin-page}">Admins</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/board/posts}">Message Board</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/summons/creation}">Creation</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/trading-post/offers/trade}">Trade</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/trading-post/offers/sell}">Buy/Sell</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/my-offers}">My Offers</a>
                </li>


                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div class="form-inline my-2 my-lg-0 px-3">
                        <div class="text-coins">Coins: <span class="coin-amount" th:text=" ${coins}"></span></div>
                        <div class="text-white" sec:authentication="name"></div>
                        <form
                                th:method="post"
                                th:action="@{/users/logout}">
                            <input class="btn btn-link nav-link" type="submit" value="Logout">
                        </form>
                    </div>
                </li>

                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/register}">Register</a>
                </li>

                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/login}">Login</a>
                </li>

            </ul>
        </div>
    </nav>
</div>

<div class="home-container">

    <button  class="lang-select" name="lang-en" value="en">EN</button>
    <button  class="lang-select" name="lang-bg" value="bg">BG</button>

    <div sec:authorize="isAuthenticated()">
        <h1 th:text="#{greeting-user} + ' ' + ${username} + '!'"></h1>
        <p th:text="#{p1}"></p>
        <p th:text="#{p2}"></p>
        <p th:text="#{p3}"></p>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <h1 th:text="#{greeting}">Welcome, Summoner!</h1>
        <p th:text="#{log-reg-prompt}"></p>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.lang-select').click(function () {
            const selectedOption = $(this).val();
            window.location.replace('/?language=' + selectedOption);
        });
    });
</script>

<div>
    <footer></footer>
</div>
</body>
</html>
