<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summoners</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/faviconS.ico}">
    <link rel="stylesheet" th:href="@{/css/tp-style.css}">>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/all.css}"/>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}">
    Navbar
</div>

<div class="page-title">Trading Offers</div>
<div class="offer-container ">
    <div class="error-alert" th:if="${noTradeMsg}" th:text="${noTradeMsg}"></div>
    <form th:method="POST" th:action="@{/trading-post/offers/trade}">
        <div class="top-section" th:unless="${userSummons.isEmpty()}">
            <div class="select-text">Select a card to trade</div>
            <select id="summonId" name="summonId">
<!--                <option selected>select a card</option>-->
                <option selected th:each="summon : ${userSummons}"
                        th:text="${summon.getName()}"
                        th:value="${summon.getId()}"></option>

                <div th:if="${userSummons.isEmpty()}" th:value="null"></div>
            </select>

            <input id="create"
                   name="create"
                   type="submit" class="create-offer btn">
        </div>

        <div class="empty-list-msg" th:if="${offers.isEmpty()}">No available offers!</div>

        <div class="offer-list">

            <div class="offer-card" th:each="offer : ${offers}">
                <div class="title" th:text="${offer.getSummonDTO().getName()}"></div>
                <div class="text">
                    <p th:text="'HP: ' + ${offer.getSummonDTO().getHp()}">HP</p>
                    <p th:text="'ATK: ' + ${offer.getSummonDTO().getAtk()}">ATK: </p>
                    <p th:text="'Owner: ' + ${offer.getUsername()}">Owner: </p>
                </div>

                <button id="offerId" name="offerId" th:value="${offer.getId()}" class="accept-button">
                    Trade
                </button>
            </div>
        </div>
    </form>
</div>

</body>
</html>