<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Summoners</title>
  <link rel="icon" type="image/x-icon" th:href="@{/images/faviconS.ico}">
  <link rel="stylesheet" th:href="@{/css/status-style.css}">
  <link rel="stylesheet" th:href="@{/css/all.css}">
</head>
<body>

<div class="status-container ">
  <form th:method="GET" th:action="@{/roster}">
    <div class="status-text win-text">VICTORY</div>
    <div class="reward-msg">You have won <span class="coin-amount">5</span> coins!</div>
    <button>Continue</button>
  </form>
</div>

</body>
</html>